<footer>
    <div class="footer-content">
        <div class="footer-info">
            <span><strong>상호명:</strong> 세무법인 대양 중앙지점</span>
            <span class="separator">|</span>
            <span><strong>대표:</strong> 김중인</span>
            <span class="separator">|</span>
            <span><strong>주소:</strong> 경기도 안산시 단원구 고잔동 518 (자유센터 116, 117호)</span>
            <span class="separator">|</span>
            <span><strong>사업자번호:</strong>503-85-35311</span>
            <span class="separator">|</span>
            <span><strong>대표번호:</strong> 010-9035-4462</span>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2025 김중인 세무사. All Rights Reserved.
    </div>
</footer> 