<header>
    <nav>
        <div class="logo">
            <a href="index.html">
                <img src="images/logo.png" alt="세무법인대양 중앙지점 로고">
            </a>
        </div>
        <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-links">
            <li><a href="index.html">홈</a></li>
            <li><a href="greeting.html">인사말</a></li>
            <li><a href="gallery.html">사진</a></li>
            <li><a href="location.html">오시는길</a></li>
        </ul>
    </nav>
</header> 